<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ygh.falltestprogram">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:name="loading.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="NYD82bupVTH7DAR3Z4Yjr3SZSPVKlmrq" />

        <activity
            android:name="loading.Loading"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Old_MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Son_MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="子女看护助手">
        </activity>
        <activity
            android:name="login.Old_LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="login.Son_LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="login.ResignActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.main.contast.ContactsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.main.contast.ContactsNew"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.main.DiedaoFragment"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.main.BaidumapActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.main.HeartRateMonitor"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.main.medicine.MedicineActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.main.medicine.MedicineNew"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.main.MapMain"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.main.sosFragment"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.main.warnFragment"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.me.MyMessage"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.me.About_Us"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.me.Install"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.me.SetMessage"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.me.tool.BigCamearActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.me.tool.LightActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.me.tool.CalculatorActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="old.me.tool.ToolMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>



        <!-- ====Children==== -->
        <activity
            android:name="children.main.Position"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="children.main.Distance"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="children.main.Health"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="children.main.Home"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="children.main.State"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="children.me.MyMessage"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="children.me.PositionHistory"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="children.me.Install"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <service android:name="old.service.DistanceService"></service>
        <service android:name="old.service.FallDecisionService"></service>
        <service android:name="old.service.JbSoundService"></service>
        <service android:name="old.service.LocationService"></service>
        <service android:name="old.service.SendLocationService"></service>
        <service android:name="old.service.SendMsgService"></service>
        <service android:name="old.service.TsSoundService"></service>
        <service android:name="old.service.WarningSoundService"></service>






        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>


        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>